<!-- <div class="row">
    <form  [FormGroup]= "Product">
            <label>Name</label>
            <input  formControlName="name">
      
            <label>description</label>
            <input formControlName="description">
            <label>price</label>
            <input  formControlName="price">
                    <label>likes</label>
                    <input  formControlName="likes">
                    <label>available</label>
                    <input  formControlName="available">
              
            <input type="button" value="Add Product" class="btn btn-primary"  >
    </form>
</div>-->